#include "resources.h"

// for windres
#include "winresrc.h"
//#define IDC_STATIC (-1)


LANGUAGE 0, 0

IDD_PROPPAGE DIALOG DISCARDABLE 0, 0, 186, 95
STYLE WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "Slider", IDC_SLIDER1, "msctls_trackbar32", 0x50000000, 27, 42, 97, 24, 0x50000000
  LTEXT "Good day", 3, 47, 13, 50, 14, 0x50020000
  EDITTEXT IDC_TEXT1, 36, 28, 81, 14, 0x50010080, 0x200
  PUSHBUTTON "Default", IDC_DEFAULT, 77, 74, 50, 14, 0x50010000
  COMBOBOX IDC_EFFECTS, 39, 12, 77, 13, 0x50010002
END

STRINGTABLE PRELOAD DISCARDABLE
BEGIN
  IDS_PROPPAGE_TITLE, "Virtual Cam Settings"
END
